body {
  align-items: center;
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

switches {
  display: flex;
  flex-direction: column;
  left: 40px;
  position: absolute;
}

switch {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 80px;
  height: 100px;
  margin: 16px 0 16px 0;
  width: 100px;
}

switch:hover {
  color: #bcd;
}

.hidden {
  display: none;
}

slides {
  align-items: center;
  display: flex;
  filter: blur(0px);
  flex-direction: column;
  height: 80%;
  justify-content: center;
  transition: filter .3s;
  width: 80%;
}

slides.blur {
  filter: blur(20px);
  height: 60%;
  width: 60%;
}

slides > img.above {
  transform: translateY(-100vh);
  transition: transform .8s, height .3s, width .3s;
  z-index: -1;
}

slides > img.below {
  transform: translateY(100vh);
  transition: transform .8s, height .3s, width .3s;
  z-index: -1;
}

slides > img {
  height: inherit;
  position: absolute;
  transform: translateY(0px);
  transition: transform .6s, height .3s, width .3s;
  width: auto;
}
